body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.blue-color{
    color: #0c0cfb;
}

.flexible-section {
    display: flex;
    margin-bottom: 100px;
}

.section-half {
    width: 50%;
    padding: 2%;
}

.section-half img {
    width: 100%;
}

.kiss-img{
    margin-top: 30px;
    display: inline-block;
}

.world-cup-button {
    text-decoration: none;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(12, 12, 251, 1) 41%, rgba(0, 212, 255, 1) 100%);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    display: inline-block;
    margin-top: 10px;
}

.achievement-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
}

#achievement-item-1 {
    border-left: 7px solid magenta;
}

#achievement-item-2 {
    border-left: 7px solid blue;
}

.achievement h1{
    margin-left: 70px;
}

footer p {
    text-align: center;
}